 @import "base/base";
 @import "header/header";
 @import "adaptive/adaptive";
 @import "base/modal";






html {
    font-size: 62.5%;
    width: 100%;
    max-width: 144rem;
    box-sizing: border-box;
}

.html.html {
    @include breakpoint1 {
       font-size: 60%;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


